<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Resident Login</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Resident Login</h1>
        <form action="/resident-login" method="post" class="mt-4">
            <div class="mb-3">
                <label for="username" class="form-label">First Name:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="room_number" class="form-label">Room Number:</label>
                <input type="text" id="room_number" name="room_number" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
</body>
</html>
